<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>main screen</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <img src="{{ url_for('static', path='img/diagram.png') }}" alt="My Profile" height="1000">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card  mb-3">
                <a class="card-body stretched-link text-decoration-none" href="/web/getColUnderLimit">
                    <h5 class="card-title">Посчитать заказы меньше порога</h5>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card  mb-3">
                <a class="card-body stretched-link text-decoration-none" href="/web/statisticForSolige">
                    <h5 class="card-title">Статистика брака</h5>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card  mb-3">
                <a class="card-body stretched-link text-decoration-none" href="/web/calculateTotalPayment">
                    <h5 class="card-title">Сумма платежей</h5>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card  mb-3">
                <a class="card-body stretched-link text-decoration-none" href="/web/getTupePayment">
                    <h5 class="card-title">Получить статус платежа</h5>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card  mb-3">
                <a class="card-body stretched-link text-decoration-none" href="/web/client">
                    <h5 class="card-title">Клиент</h5>
                    <p class="card-text">ФИО</p>
                    <p class="card-text">ИНН</p>
                    <p class="card-text">Телефон</p>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <a class="card-body stretched-link text-decoration-none" href="/web/lawyer">
                    <h5 class="card-title">Юрист</h5>
                    <p class="card-text">ФИО</p>
                    <p class="card-text">Зарплата</p>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <a class="card-body stretched-link text-decoration-none" href="/web/paymentStatus">
                    <h5 class="card-title">Статус оплаты</h5>
                    <p class="card-text">Статус</p>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <a class="card-body stretched-link text-decoration-none" href="/web/payment">
                    <h5 class="card-title">Оплата</h5>
                    <p class="card-text">Размер</p>
                    <p class="card-text">Статус</p>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <a class="card-body stretched-link text-decoration-none" href="/web/contractStatus">
                    <h5 class="card-title">Статус заказа</h5>
                    <p class="card-text">Статус</p>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <a class="card-body stretched-link text-decoration-none" href="/web/request">
                    <h5 class="card-title">Заказ</h5>
                    <p class="card-text">Статус</p>
                    <p class="card-text">Контракт</p>
                    <p class="card-text">Оплата</p>
                    <p class="card-text">Клиент</p>
                    <p class="card-text">Юрист</p>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <a class="card-body stretched-link text-decoration-none" href="/web/contract">
                    <h5 class="card-title">Контракт</h5>
                    <p class="card-text">Ссылка</p>
                    <p class="card-text">id статуса</p>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <a class="card-body stretched-link text-decoration-none" href="/web/requestStatus">
                    <h5 class="card-title">Статус контракта</h5>
                    <p class="card-text">Статус</p>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <a class="card-body stretched-link text-decoration-none" href="/web/productionSheet">
                    <h5 class="card-title">Производственный лист</h5>
                    <p class="card-text">Название</p>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <a class="card-body stretched-link text-decoration-none" href="/web/productionStatus">
                    <h5 class="card-title">Статус производства</h5>
                    <p class="card-text">Статус</p>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <a class="card-body stretched-link text-decoration-none" href="/web/productionStep">
                    <h5 class="card-title">Производственный шаг</h5>
                    <p class="card-text">Время</p>
                    <p class="card-text">Лог</p>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <a class="card-body stretched-link text-decoration-none" href="/web/productionStepsInSheet">
                    <h5 class="card-title">Производственный шаг в листе</h5>
                    <p class="card-text">Производственный лист</p>
                    <p class="card-text">Производственный шаг</p>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <a class="card-body stretched-link text-decoration-none" href="/web/spoilage">
                    <h5 class="card-title">Брак</h5>
                    <p class="card-text">Количество</p>
                    <p class="card-text">Вещь</p>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <a class="card-body stretched-link text-decoration-none" href="/web/brewer">
                    <h5 class="card-title">Пивовар</h5>
                    <p class="card-text">ФИО</p>
                    <p class="card-text">Зарплата</p>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <a class="card-body stretched-link text-decoration-none" href="/web/competence">
                    <h5 class="card-title">Компетенция</h5>
                    <p class="card-text">Название</p>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <a class="card-body stretched-link text-decoration-none" href="/web/equipment">
                    <h5 class="card-title">Оборудование</h5>
                    <p class="card-text">Название</p>
                    <p class="card-text">Ресурс</p>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <a class="card-body stretched-link text-decoration-none" href="/web/equipmentParameters">
                    <h5 class="card-title">Параметры оборудования</h5>
                    <p class="card-text">Оборудование</p>
                    <p class="card-text">Параметр</p>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <a class="card-body stretched-link text-decoration-none" href="/web/parameter">
                    <h5 class="card-title">Параметр</h5>
                    <p class="card-text">Название</p>
                    <p class="card-text">Параметр оборудования</p>
                </a>
            </div>
        </div>


    </div>

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>