<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>main screen</title>
</head>
<body>
<div class="row">
    <div class="col-sm">
        <a href="/web/" class="btn btn-primary">
            <img src="{{ url_for('static', path='img/backwardarrow.png') }}" height="30" alt="Back">
        </a>
    </div>
    <div class="col-sm">
        <button class="btn btn-primary btn-search">
            <img src="{{ url_for('static', path='img/find.png') }}" height="30" alt="Find">
        </button>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">
                <img src="{{ url_for('static', path='img/dell.png') }}" alt="My Profile" height="30">
            </th>

            <th scope="col">
                {{colIdRu}}
                <div class="input-group">
                    <div class="form-outline" data-mdb-input-init>
                        <input type="search" id="par-id" class="form-control"/>
                    </div>
                </div>
            </th>

            {% for num_col in range(colRu|length) %}
            <th scope="col">
                {{colRu[num_col]}}
                <div class="input-group">
                    <div class="form-outline" data-mdb-input-init>
                        <input type="search" id="par-{{col[num_col]}}" class="form-control"/>
                    </div>
                </div>
            </th>
            {% endfor %}
            <th scope="col">
                <img src="{{ url_for('static', path='img/edit.png') }}" alt="My Profile" height="30">
            </th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <td>
                <button type="button" class="btn btn-primary btn-dell" data-id="{{item[colId]}}"
                        data-name={{name}}>
                    <img src="{{ url_for('static', path='img/dell.png') }}" height="30" alt="Delete">
                </button>
            </td>
            <th scope="col">{{item[colId]}}</th>
            {% for c in col %}
            <td scope="col">{{item[c]}}</td>
            {% endfor %}
            <td>
                <button type="button" class="btn btn-primary btn-edit edit-dialog"
                        data-id="{{item[colId]}}"
                        {% for c in col %}
                        data-{{c}}="{{item[c]}}"
                        {% endfor %}
                        data-name={{name}} data-bs-toggle="modal" data-bs-target="#editModal">
                    <img src="{{ url_for('static', path='img/edit.png') }}" height="30" alt="Delete">
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <button type="button" class="margin-center btn btn-primary btn-add" data-bs-toggle="modal"
                data-bs-target="#addModal">
            <img src="{{ url_for('static', path='img/add.png') }}" height="30">
        </button>
    </div>

    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addModalLabel">Добавление</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container mt-4">
                        <div class="card mx-auto" style="width: 18rem;">
                            <form method="POST" action="add">
                                {% for num_col in range(colRu|length) %}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-{{col[num_col]}}">{{colRu[num_col]}}</span>
                                    </div>
                                    <input name="{{col[num_col]}}" type="text" class="form-control" aria-label="Default"
                                           aria-describedby="inputGroup-sizing-default">
                                </div>
                                {% endfor %}

                                <div class="col-md-12 text-center mt-3">
                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Создать
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editModalLabel">Изменение</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container mt-4">
                        <div class="card mx-auto" style="width: 18rem;">
                            <form method="POST" action="edit">

                                <div class="input-group mb-3 visually-hidden">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="editGroup-id"></span>
                                    </div>
                                    <input name="id" id="id" type="number" class="form-control visually-hidden"
                                           aria-label="Default"
                                           aria-describedby="inputGroup-sizing-default">
                                </div>

                                {% for num_col in range(colRu|length) %}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="editGroup-{{col[num_col]}}">{{colRu[num_col]}}</span>
                                    </div>
                                    <input name="{{col[num_col]}}" id="{{col[num_col]}}" type="text"
                                           class="form-control" aria-label="Default"
                                           aria-describedby="inputGroup-sizing-default">
                                </div>
                                {% endfor %}

                                <div class="col-md-12 text-center mt-3">
                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Создать
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="module">
    $('[data-bs-toggle="tooltip"]').tooltip()

    $(document).on("click", ".btn-search", function () {
        var id = $(".par-id #id").val();
        $(".modal-body #id").val( id );
    });
</script>

<script type="module">
    $('[data-bs-toggle="tooltip"]').tooltip()

    $(document).on("click", ".edit-dialog", function () {
        var id = $(this).data('id');
        $(".modal-body #id").val( id );

        {% for c in col %}
        var {{c}} = $(this).data('{{c.lower()}}');
        $(".modal-body #{{c}}").val( {{c}} );
        {% endfor %}
    });
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

<script type="text/javascript">{% include "scripts.js" %}</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>